h1 {
  text-align: center;
  font-size: 38px;
  font-variant: small-caps;
  padding: 25px
}

h2 {
  text-align: center;
  font-size: 26px;
  font-variant: small-caps;
}

#starters {
  text-align: center;
  font-size: 18px;
  margin-left: 250px;
  margin-right:250px
}



img {
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stateParagraph {
  margin-right: 400px;
  margin-left: 400px;
  text-indent: 50px;
  font-size: 18px;
}

#imgExplain {
  margin-left: 450px;
  margin-right: 450px
}

body {
  background-color: #85A5D6;
  text-align: justify;
}
