h1 {
  text-align: center;
  font-size: 36px
}

h2 {
  text-align: center;
  font-size: 26px
}

main {
  text-align: center;
  font-size: 22px
}

article {
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stateParagraph {
  text-indent: 50px;
  font-size: 18px
}

body {
  background-color: #85A5D6;
  text-align: justify;
}
